<!-- contact  -->
<ul class="icons">
    {% for entry in site.data.contact %}
        {% case entry.type %}
            {% when 'github', 'twitter' %}
            {%- capture url -%}
                https://{{ entry.type }}.com/{{ site[entry.type].username }}
            {%- endcapture -%}
            {% when 'email' %}
            {% assign email = site.social.email | split: '@' %}
            {%- capture url -%}
                javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
            {%- endcapture -%}
            {% when 'rss' %}
            {% assign url = '/feed.xml' | relative_url %}
            {% else %}
            {% assign url = entry.url %}
        {% endcase %}

        {% if url %}
            <li><a
            href="{{ url }}"
            {% if entry.type != 'email' %}
                target="_blank"
            {% endif %}
            title="{{entry.type}}"
            class="icon"
            >
            <i class="{{ entry.icon }}"></i>
            </a></li>
        {% endif %}
    {% endfor %}
</ul>