<!DOCTYPE html>
<html lang="en" class="mdl-js">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/information/128x128.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/information/32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/information/16x16.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="/assets/img/information/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Information">
        <link rel="stylesheet" href="/assets/css/information.css" />
        <link rel="stylesheet" href="/assets/css/secondary.css" />
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
        <title>Information</title>
    </head>

	<body class="is-preload">
        <div class="overlay"></div>
        <div id="wrapper">	
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <img src="{{ site.avatar }}" alt="My Icon" class="avatar">
                </div>
                <div class="content">
                    <div class="inner">
                        <h1>DINH TUAN ANH</h1>
                        <p>MACHINE LEARNING ENGINEER</p>
                        <p><i>Turning data into actionable insights</i></p>
                        {% include contact_custom.html %}
                    </div>
                </div> 
                <nav>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#experience">Experiences</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#skills">Skills</a></li>
                    </ul>
                </nav>
            </header>
            <!-- Main -->
            <div id="main">

                <!-- About -->
                <article id="about">
                    <h1 class="major">About</h1>
                    <p>Hi, I'm <strong>Anh</strong>, a quick learner with a passion for exploring new technologies and embracing challenges.<br><br> 
                    Inspired by a passion for continuous learning and growth, I want to explore diverse environments to broaden my perspective and foster cross-cultural connections. With a strong interest in knowledge sharing, I aim to become a lecturer and researcher who disseminates knowledge and fosters the long-term growth of learning communities.<br><br>
                    </p>
                </article>

                <!-- Skills Table -->
                <article id="skills">
                    <h1 class="major">Skills</h1>
                    <table>
                        <tr>
                            <td><strong>Data Crawling</strong></td>
                            <td></td>
                            <td>Python (Beautiful Soup, Selenium)</td>
                        </tr>
                        <tr>
                            <td><strong>Data Manipulation</strong></td>
                            <td></td>
                            <td>Excel, Python (Pandas, Geopandas, PySpark), SQL</td>
                        </tr>
                        <tr>
                            <td><strong>Data Visualization</strong></td>
                            <td></td>
                            <td>Python (Matplotlib, Seaborn, Bokeh, Plotly), Power BI, D3js</td>
                        </tr>
                        <tr>
                            <td><strong>AI/ML Platform</strong></td>
                            <td></td>
                            <td>MLflow, Kubeflow</td>
                        </tr>
                        <tr>
                            <td><strong>Web Programming</strong></td>
                            <td></td>
                            <td>HTML, CSS, JavaScript (ReactJS), Python (Django, FastAPI, Flask), Java (Spring Boot)</td>
                        </tr>
                        <tr>
                            <td><strong>Android Development</strong></td>
                            <td></td>
                            <td>Java, Kotlin, Jetpack Compose</td>
                        </tr>
                        <tr>
                            <td><strong>Operations</strong></td>
                            <td></td>
                            <td>Git, Docker, Kubernetes</td>
                        </tr>
                        <tr>
                            <td><strong>Database</strong></td>
                            <td></td>
                            <td>PostgreSQL, SQLAlchemy</td>
                        </tr>
                        <tr>
                            <td><strong>Cloud</strong></td>
                            <td></td>
                            <td>GCP, AWS (Database, VM, Storage, Functions, Containers, K8s)</td>
                        </tr>
                        <tr>
                            <td><strong>Chatbot</strong></td>
                            <td></td>
                            <td>Chatbot Agent (OpenAI, Gemini), AgentVerxe, Agent Prompts, Agent Plugins, Local Small LLM</td>
                        </tr>
                        <tr>
                            <td><strong>Logistics Optimization</strong></td>
                            <td></td>
                            <td>Auto-planning, cost optimization, and streamlined logistics operations</td>
                        </tr>
                        <tr>
                            <td><strong>Communication</strong></td>
                            <td></td>
                            <td>English, Vietnamese (native speaker)</td>
                        </tr>
                    </table>
                </article>
                      
                <!-- Experiences -->
                <article id="experience">
                    <h1 class="major">Experiences</h1>
                    <div class="timeline">
                        <!-- Experiences Section -->
                        <div class="tl-year-outer">
                            <div class="tl-year">
                                <h2>2023</h2>
                            </div>
                            <div class="tl-year-linebox"></div>
                        </div>
                        <ul class="tl-list">
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>Sep-Dec</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Backend + Machine Learning Dev at FlipJungle</a>
                                </div>
                            </li>
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>Apr-Sep</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Data Analyst at VIFON</a>
                                </div>
                            </li>
                        </ul>

                        <div class="tl-year-outer">
                            <div class="tl-year">
                                <h2>2022</h2>
                            </div>
                            <div class="tl-year-linebox"></div>
                        </div>
                        <ul class="tl-list">
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>Jun-Dec</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Machine Learning Engineer Intern at OneMount</a>
                                </div>
                            </li>
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>Feb-Jun</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Freelancer at Hyphens</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>

                <!-- Education -->
                <article id="education">
                    <h1 class="major">Education</h1>
                    <div class="timeline">
                        <div class="tl-year-outer">
                            <div class="tl-year">
                                <h2>2024</h2>
                            </div>
                            <div class="tl-year-linebox"></div>
                        </div>
                        <ul class="tl-list">
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>Present</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Master of Information and Communication Engineering</a>
                                    <p>Chungbuk National University, TA & RA in the EASW lab.</p>
                                </div>
                            </li>
                        </ul>
                        
                        <div class="tl-year-outer">
                            <div class="tl-year">
                                <h2>2023</h2>
                            </div>
                            <div class="tl-year-linebox"></div>
                        </div>
                        <ul class="tl-list">
                            <li class="tl-bullet">
                                <div class="tl-date">
                                    <span>July</span>
                                </div>
                                <div class="tl-info">
                                    <a target="_blank" rel="noopener noreferrer">Bachelor of Data Science</a>
                                    <p>Industrial University of Ho Chi Minh City, graduated early with thesis on Federated Learning.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright"><a href="/en/">adinh26101.github.io</a></p>
            </footer>
        
        </div>

		<!-- BG -->
        <div id="bg">
            <div id="particles-js"></div>
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="/assets/js/particles.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
        <script type="text/javascript">
            particlesJS.load('particles-js', '/assets/config/particles-js.json', function() {});
        </script>
    </body>
</html>